.SplitPane {
	display: flex;
	justify-content: center;

	height: 100vh;
}

.SplitPane__Right,
.SplitPane__Left {
	flex: 1;

	display: flex;
	align-items: center;

	height: 100%;
}

.SplitPane__Left {
	background-color: red;
}

.SplitPane__Right {
	background-color: blue;
}