:root {
	--converter-w: 300px;
	--converter-h: 50px;

	--primary-color: #46E4F8;
	--dark-bg-color: #1a2121;
}

*, *::before, *::after {
	margin: 0;
 	padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--dark-bg-color);
  min-height: 100vh;

  position: relative;
}

body::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	background: linear-gradient(to bottom, var(--dark-bg-color) 30%, transparent);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
